* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a,
input,
button {
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}
img {
  height: 300px;
  object-fit: contain;
}
